.btnBackground {
  position: relative;
}

.btnBorder {
  height: 8.43vh;
  background-image: url(./images/button-border.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  position: absolute;
  top: 1.8vh;
  left: 5.7vh;
  width: 82.5%;
  //height: 33px;
  height: 5.06vh;
  cursor: pointer;
  background-image: url(./images/button.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  > span {
    color: #e1e1e1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 0.3vh;
    text-align: center;
    font-size: 2.4vh;
    font-weight: normal;

    .remainingChars {
      color: #d0ae1e;
    }
  }

  &:hover {
    background-image: url(./images/button-hover.jpg);
    background-position-y: 0.3vh;
    background-color: black;
  }

  &:active {
    background-image: url(./images/button-click.jpg);
    background-position-y: -0.3vh;
    left: 5.3vh;

    > span {
      margin-top: 0.9vh;
      margin-left: -0.3vh;
    }
  }

  &:disabled {
    background-image: url(./images/button-disabled.jpg);

    .remainingChars {
      color: #717171;
    }
  }
}