@import 'styles/variables.scss';

.logo {
    background-image: url('./images/logo.png');
    width: 46vh;
    height: 29vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    left: 10px;
}

.disappearing {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $animation-smaller-time, opacity $animation-smaller-time linear;
}
