@import 'styles/variables.scss';

@keyframes fallDown {
  0% {
    margin-top: -100vh
  }
  50% {
    margin-top: 1vh;
  }
  75% {
    margin-top: -2vh;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes flyUp {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -2vh;
  }
  75% {
    margin-top: 1vh;
  }
  100% {
    margin-top: -100vh
  }
}

.wrapper {
  position: absolute;
  top: 0;
  right: 1.3vh;
  width: 40vh;
  height: 100vh;
}

.appear {
  margin-top: 0;
  animation: fallDown $animation-medium-time;
}

.disappear {
  margin-top: -100vh;
  animation: flyUp $animation-small-time;
}

.background {
  position: absolute;
  top: 16vh;
  right: 0;
  width: 40vh;
  height: 53vh;
  background: rgba(0, 0, 0, 0.7);
}

.topChain {
  background-image: url("./images/small-top-right-chain.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 43.7vh;
  height: 20vh;
}

.menuBorder {
  background-image: url("./images/top-menu.png");
  background-size: 42vh 56vh;
  position: absolute;
  top: 15.3vh;
  right: 0;
  width: 42vh;
  height: 56vh;
}

.content {
  position: absolute;
  top: 18vh;
  right: 0;
  width: 39vh;
  height: 51vh;

  > * > * {
    margin-top: 1.3vh;
  }
}