@import 'styles/variables.scss';

@keyframes fallDown {
  0% {
    margin-top: -100vh
  }
  50% {
    margin-top: 1vh;
  }
  75% {
    margin-top: -2vh;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes flyUp {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -2vh;
  }
  75% {
    margin-top: 1vh;
  }
  100% {
    margin-top: -100vh
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 1.3vh;
  width: 40vh;
  display: none;
}

.appear {
  display: initial;
  margin-top: 0;
  animation: fallDown $animation-medium-time;
}

.disappear {
  display: initial;
  margin-top: -100vh;
  animation: flyUp $animation-small-time;
}

.background {
  position: absolute;
  top: 13vh;
  left: 0;
  width: 70vh;
  height: 76vh;
  background: rgba(0, 0, 0, 0.7);
}

.menuBorder {
  background-image: url("./images/option-menu.png");
  background-size: 72vh 90vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 72vh;
  height: 90vh;
}

.content {
  position: absolute;
  top: 14vh;
  left: 0;
  width: 69.5vh;
  height: 73vh;
  padding-left: 2vh;
  padding-right: 2vh;

  > * > * {
    margin-top: 2.3vh;
  }
}

.title {
  color: #e1e1e1;
  margin-bottom: -0.5vh;
  font-size: 2.8vh;
}

.checkboxTitle {
  font-size: 2.5vh;
  color: #d0ae1e;
}

.settingRow {
  margin-bottom: 3vh;
}