@import 'styles/variables.scss';

.sound {
  position: absolute;
  left: 2.8vh;
  top: 1vh;
  width: 5vh;
  height: 5vh;
  object-fit: cover;
  z-index: 2;
  cursor: pointer;
}

.backgroundVideo {
  position: absolute;
  left: -21.5vh;
  top: 0;
  height: 100vh;
}

.appearing {
  visibility: visible;
  opacity: 1;
  transition: opacity $animation-small-time linear;
}

.appearingInstantly {
  visibility: visible;
  opacity: 1;
}

.disappearing {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s $animation-small-time, opacity $animation-small-time linear;
}

.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 134vh;
  background-size: contain;
}

.leftBorder {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4vh;
  height: 100vh;
  background-image: url('./images/left-frame.jpg');
  background-repeat: repeat-y;
}

.rightBorder {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.4vh;
  height: 100vh;
  background-image: url('./images/right-frame.jpg');
  background-repeat: repeat-y;
}

.leftCorner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.1vh;
  height: 15vh;
  background-size: cover;
  background-image: url('./images/left-corner.png');
}

.rightCorner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 19.1vh;
  height: 15vh;
  background-size: cover;
  background-image: url('./images/right-corner.png');
}
